* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

.heading-box {
  width: 100%;
  padding: 30px 20px;
  background-color: #ff00ff;
  display: flex;
  justify-content: flex-end;
}

.heading-item {
  flex-basis: 140px;
  height: 70px;
  margin: 0 10px;
  background-color: #fbb3ff;
}

.heading-box > :first-child {
  margin-right: auto;
}

main {
  display: flex;
  justify-content: center;
}

.sidebar {
  width: 300px;
  background-color: #d8ffb6;
}

.main-box {
  max-width: 700px;
  flex-grow: 1;
  padding: 20px;
  background-color: #00b522;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-item {
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
  background-color: #fff75a;
}

.footer-box {
  width: 100%;
  padding: 20px;
  background-color: #52a1ff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-item {
  flex-basis: 45%;
  max-width: 600px;
  height: 40px;
  margin: 10px;
  background-color: #b6e7ff;
}
